spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#        - id: flight-service
#          uri: http://flight-service:7070
#          predicates:
#            - Path=/flight/**
#
#        - id: booking-service
#          uri: http://booking-service:8080
#          predicates:
#            - Path=/booking/**

server:
  port: 6060



eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
